@media screen and (max-width: 320px){
	/*---- hero -----*/
	.hero-content{
		min-width: 300px!important;
	}
}

@media screen and (min-width: 321px) and (max-width: 374px){
	/*---- hero -----*/
	.hero-content{
		min-width: 320px!important;
	}
}

@media screen and (min-width: 375px) and (max-width: 400px){
	/*---- hero -----*/
	.hero-content{
		min-width: 350px!important;
	}
}
	
	
@media screen and (max-width: 480px){
	/*----- layout ----*/
	.grey-bg, .white-bg{
		padding: 40px 0; 
	}
    .work-spacer{
        padding:70px 0 40px 0!important;
    }
	.secondary-hero{
		padding-top: 50px;
	}
	/*---- hero -----*/
	#home{
		background-position-x: -200px;
	}
	.hero-content{
		min-width: 400px;
		padding: 0px;
	}
	.menu-wrap{width: 220px;}
	/*.mouse-icon{bottom: 5px;}*/
	
	/*------- about -------*/
	.bg-about{min-height: 520px!important;}

	/*---- portfolio -----*/
	ul.portfolio-image li{
		width: 100%;
		padding-top: 67%;
	}
    
    /*---- skills -----*/
    .skills-icons-text{
        text-align: center;
    }    

	/*---- blog -----*/
	.grid-item {
        width: 100% !important;
        padding: 0;
  }

	/*---- quote -----*/
	.wrap-about{ 
		padding: 0;
	}
	.wrap-about .w-content{
        left: 0;
        right: 0;
        width: 100%;
        top: 0;
        padding: 0;
        transform: none;
	}


  /*------- testimonial -------*/
  #testimonial{ height: 700px;}
    
    .list-testimonial .content-testimonial .testi {
        line-height: 35px;
    }

      .skillst {margin-top: 50px;}
}

@media screen and (min-width: 560px) and (max-width: 736px){
	/*---- hero -----*/
	.hero-content{
		min-width: 470px;
		padding: 116px 65px 65px 65px;
	}
}

@media screen and (max-width: 768px){
	/*------ header -----*/	
	.for-sticky{ padding: 0; }
	.logo-nav { margin-left: 0;}
	.menu-button{margin-right: 15px;}
	.ma-infinitypush-wrapper.ma-infinitypush-active-button.ma-infinitypush-button-right .ma-infinitypush-button{
		left: -65px;
	}
	.ma-infinitypush-wrapper{ width: 200px; }
	.ma-infinitypush-wrapper	ul > li{
			width: 200px;
		}

	/*------- home ------*/
	#home p {width: 100%;}
	

	/*---- portfolio -----*/
    ul.portfolio-image {
        margin: 30px 0 0 0;
    }
    
	.portfolio-image > li{
		width: 100%;
	}


  /*---- blog -----*/
	.grid-item {width: 50%;}

  /*------- about -------*/
  .bg-about{min-height: 680px;}
  .wrap-about{
  	min-height: 500px;
  	padding-bottom: 10%;
  	padding-left: 30px;
    padding-right: 30px;
  }
  .wrap-about	.head-quote{padding-top: 10%;}

  .content-right{ margin-top: 20px; }

  .text-grey{margin-bottom: 45px;}
  .skillst{ margin-top: 50px;}
    
    /*---- skills -----*/
    .skills-icons-section{
        margin-top:40px!important;
    }
    
	/*------ footer -----*/
  footer p{ text-align: center; }
  footer ul.social {
    margin-left: -40px;
    text-align: center;
	}
	footer ul.social li { 
		padding: 0px 10px 0px 10px;
	}
}
@media (max-width: 991px) {
    /*---- portfolio -----*/
    ul.portfolio-image li{
        padding-top: 67%;
		width: 100%;
    }
    .pages1 {
        padding-left: 0px!important;
        padding-right: 0px!important;
    }
    .pages2 {
        padding-left: 0px!important;
        padding-right: 0px!important;
        margin-top: 70px;
    }
    .pages3 {
        padding-left: 0px!important;
        padding-right: 0px!important;
        margin-top: 70px;
    }
    .pages4 {
        padding-left:0px!important;
        padding-right: 0px!important;
        margin-top: 70px;
    }

}
@media screen and (max-width: 1024px){
    
    .mouse-icon{display: none!important;}
}
@media screen and (min-width: 1024px){
	.content-right {
        margin-top: 20px;
        padding: 0 20px 0 60px; 
	}
    .resume-link{
        margin-top: 0px;
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1243px){
    .wrap-about .w-content {
        width: 70%;
    }
}
